<?php
	require_once($_SERVER["DOCUMENT_ROOT"]."/lib/php/Config.php");
	$settings = Config::getInstance();
	$settings->setPage("Documentation: {+data.alias+} ");
	require_once $_SERVER["DOCUMENT_ROOT"].'/lib/php/includes/html_header.php';
?>

		<div id="MainContent" class="doc clearfix"  role="main">
			<!-- begin publish.classesIndex -->
			{+publish.classesIndex+}
			<!-- end publish.classesIndex -->
			<dl>
				<dt>
					<h3>
					<!-- ============================== class title ============================ -->

					{!
					var classType = "";
					
					if (data.isBuiltin()) {
						classType += "Built-In ";
					}
					
					if (data.isNamespace) {
						if (data.is('FUNCTION')) {
							classType += "Function ";
						}
						classType += "Namespace ";
					}
					else {
						classType += "";
					}
				!}
				{+classType+}{+data.alias+}
					</h3>
				<!-- ============================== class summary ========================== -->
				</dt>
				<if test="!data.isBuiltin() && (data.isNamespace || data.is('CONSTRUCTOR'))">
					<!-- ============================== class constructor ====================== -->
					<dd>
						<pre  class="brush: js; gutter: false; ">
							{+resolveLinks(data.desc)+}
						</pre>
						<hr>
						<!-- ============================== methods summary ======================== -->
						<if test="data.methods.length">
							{! var ownMethods = data.methods.filter(function($){return $.memberOf == data.alias  && !$.isNamespace}).sort(makeSortby("name")); !}
							<if test="ownMethods.length">
								<ul>
									<for each="member" in="ownMethods">
										
											<li>
												<if test="member.isStatic && member.memberOf != '_global_'">{+member.memberOf+}.</if>{+new Link().toSymbol(member.alias).withText("."+member.name.replace(/\^\d+$/, '') +makeSignature(member.params ) )+}
											</li>
									</for>
								</ul>
							</if>
						</if>
					</dd>
				</if>
				<dd></dd>
				<dd></dd>
			</dl>
		</div>
<?php require_once $_SERVER["DOCUMENT_ROOT"].'/lib/php/includes/html_footer.php'; ?>	