<?php
	require_once($_SERVER["DOCUMENT_ROOT"]."/lib/php/Config.php");
	$settings = Config::getInstance();
	$settings->setPage("Documentation: {+data.alias+} ");
	require_once $_SERVER["DOCUMENT_ROOT"].'/lib/php/includes/html_header.php';
?>

		<div id="MainContent" class="doc clearfix"  role="main">
			<!-- begin publish.classesIndex -->
			{+publish.classesIndex+}
			<!-- end publish.classesIndex -->
			<dl>
				<dt>
					<h3>
					<!-- ============================== class title ============================ -->

					{!
					var classType = "";
					
					if (data.isBuiltin()) {
						classType += "Built-In ";
					}
					
					if (data.isNamespace) {
						if (data.is('FUNCTION')) {
							classType += "Function ";
						}
						classType += "Namespace ";
					}
					else {
						classType += "";
					}
				!}
				{+classType+}{+data.alias+}
					</h3>
				<!-- ============================== class summary ========================== -->
				</dt>
				<if test="!data.isBuiltin() && (data.isNamespace || data.is('CONSTRUCTOR'))">
					<!-- ============================== class constructor ====================== -->
					<dd>
						<pre  class="brush: js; gutter: false; ">
							{+resolveLinks(data.desc)+}
						</pre>
						<hr>
						<!-- ============================== methods summary ======================== -->
						<if test="data.methods.length">
							{! var ownMethods = data.methods.filter(function($){return $.memberOf == data.alias  && !$.isNamespace}).sort(makeSortby("name")); !}
							<if test="ownMethods.length">
								<ul>
									<for each="member" in="ownMethods">
										
											<li>
												<if test="member.isStatic && member.memberOf != '_global_'">{+member.memberOf+}.</if>{+new Link().toSymbol(member.alias).withText("."+member.name.replace(/\^\d+$/, '') +makeSignature(member.params ) )+}
											</li>
									</for>
								</ul>
							</if>
						</if>
					</dd>
				</if>

				<!-- ============================== method details ========================= -->		
			<if test="defined(ownMethods) && ownMethods.length">
				
				<for each="member" in="ownMethods">
					
					<dt>
						<a name="{+Link.symbolNameToLinkName(member)+}"> </a>
						<h3>{!
						if (member.isPrivate) output += "&lt;private&gt; ";
						if (member.isInner) output += "&lt;inner&gt; ";
						if (member.isStatic) output += "&lt;static&gt; ";
					!}
					
					<if test="member.type">{{+new Link().toSymbol(member.type)+}}</if>
					<if test="member.isStatic && member.memberOf != '_global_'">{+member.memberOf+}.</if>{+member.name.replace(/\^\d+$/, '')+}{+"("+}

						<if test="member.params.length">
							{! var pram_count = 0; !}
							<for each="item" in="member.params">
									{! pram_count++; !}
									{+((item.type)?  item.name+":"+(new Link().toSymbol(item.type))+"":"")+}<if test="item.isOptional"><em>:Optional</em><if test="item.defaultValue">, Default: {+item.defaultValue+}</if></if>{+ ((pram_count != member.params.length) ? "," : "" )  +}
								
							</for>
							
						</if>
						{+")"+}


					</h3>
					</dt>
					<dd>
						<p class="classDesc"></p>
						<pre  class="brush: js; gutter: false; ">{+resolveLinks(member.desc)+}
						<if test="member.example.length"><for each="example" in="member.example">{+example+}</for></if>
						</pre>
					</dd>
				</for>
			</if>
				
			</dl>
		</div>
		<if test="data.inheritsFrom.length">
				<dl class="inheritsList">
				{!
					var borrowedMembers = data.methods.filter(function($) {return $.memberOf != data.alias});
					var contributers = [];
					borrowedMembers.map(function($) {if (contributers.indexOf($.memberOf) < 0) contributers.push($.memberOf)});
					for (var i = 0, l = contributers.length; i < l; i++) {
						output +=
							"<dt>Methods borrowed from class "+new Link().toSymbol(contributers[i])+": </dt>"
							+
							"<dd>" +
							borrowedMembers
							.filter(
								function($) { return $.memberOf == contributers[i] }
							)
							.sort(makeSortby("name"))
							.map(
								function($) { return new Link().toSymbol($.alias).withText($.name) }
							)
							.join(", ")
							+
							"</dd>";
					}
				
				!}
				</dl>
				</if>
<?php require_once $_SERVER["DOCUMENT_ROOT"].'/lib/php/includes/html_footer.php'; ?>



