<?php
	require_once($_SERVER["DOCUMENT_ROOT"]."/lib/php/Config.php");
	$settings = Config::getInstance();
	$settings->setPage("Documentation: {+data.alias+} ");
	require_once $_SERVER["DOCUMENT_ROOT"].'/lib/php/includes/html_header.php';
?>

		<div id="MainContent" role="main">
			<!-- begin publish.classesIndex -->
			{+publish.classesIndex+}
			<!-- end publish.classesIndex -->
		</div>
<?php require_once $_SERVER["DOCUMENT_ROOT"].'/lib/php/includes/html_footer.php'; ?>	